# Files and Directories to Exclude #
####################################

# Scripts #
###########

scripts/APElectionScrape.py
scripts/county_slipup_corrections.py
scripts/verify_state_fips.py

# Images #
##########

images/gitignore

# Results #
###########

results/**/archive
results/final/json
results/interim

# Other #
#########

**.~lock.CountyLandData.*
**/__pycache__
**/geckodriver.log
